<!-- Header -->
<header class="body_header">
  <!-- Title -->
  <a href="../index.html">
    <div class="title_container">
      <img
        src="../../imgs/face_nobg.png"
        style="width: 50%; height: 50%; margin-top: 20px"
      />
      <h1>Erik Stuff</h1>
      <p style="margin: 10px 0px">A place to share my stuff</p>
    </div>
  </a>

  <!-- Menu -->
  <menu class="main_menu">
    <!-- Projects -->
    <a href="../pages/projects.html">
      <div class="menu_item"><p>Projects</p></div>
    </a>

    <div class="vl"></div>

    <!-- About -->
    <a href="../pages/about.html">
      <div class="menu_item"><p>About</p></div>
    </a>

    <div class="vl"></div>

    <!-- Downloads -->
    <a href="../pages/downloads.html">
      <div class="menu_item">
        <p>Downloads</p>
      </div>
    </a>

    <div class="vl"></div>

    <!-- Contact -->
    <a href="../pages/contact.html">
      <div class="menu_item"><p>Contact</p></div>
    </a>
  </menu>
</header>
