<!-- Header -->
<header class="body_header">
  <div class="header_wrapper">
    <!-- Title -->
    <a href="../index.html" class="title_container">
      <div>
        <img
          src="../../imgs/face_nobg.png"
          style="max-width: 70%; max-height: 70%; margin-top: 20px"
        />
        <h1>Erik Stuff</h1>
        <p style="margin: 10px 0px">A place to share my stuff</p>
      </div>
    </a>

    <!-- Menu -->
    <menu class="main_menu">
      <!-- Projects -->
      <a href="../pages/projects.html" class="menu_item">
        <div><p>Projects</p></div>
      </a>

      <!-- About -->
      <a href="../pages/about.html" class="menu_item">
        <div><p>About</p></div>
      </a>

      <!-- Downloads -->
      <a href="../pages/downloads.html" class="menu_item">
        <div>
          <p>Downloads</p>
        </div>
      </a>

      <!-- Contact -->
      <a href="../pages/contact.html" class="menu_item">
        <div><p>Contact</p></div>
      </a>
    </menu>
  </div>
</header>
