:root{
  --background_color: #1f1f1f;
  --global_font:  Verdana, sans-serif;
}



body{

  background-color: var(--background_color);
  font-family: var(--global_font);
  color: white;
  border: 1px solid white;

  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.menu_div{
  display: flex;
  min-height: 60px;
  max-width: 600px;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.menu_item{
  padding-left: 30px;
  padding-right: 30px;
}
.vl{
  border-left: 1px solid white;
  height: 16px;
}

.title {
  font-size: 36px;
}
.title_div{

}

.body_text{
  font-size:22px;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: red;
  border-radius: 10px;
}

img{
  border-radius: 10px;
}

