

p.title {
  font: 2em calibri;
}
p.body {
  font: 1.4em calibri;
  color: rgb(176, 0, 0);
  margin: auto;
}

div.title_block {
  background-color: rgb(59, 95, 123);
  display: block;
  padding: 20px;

}

